/* Main styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #1e194af3;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
}
.navbar ul {
  list-style-type: none;
  list-style-position: inside;
}
.navbar ul li {
  display: inline;
  margin: 0px 10px 0px 0px;
  text-align: center;
}


h1 {
  font-size: 25px;
  text-align: center;
}

section {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.flex-item {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}


/* Secondary styles*/


h2 {
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: rgba(181, 181, 181, 0.546);
  width: 100%;
  padding: 3px;
}

.box {
  background-color: dodgerblue;
  height: 50px;
  width: 50px;
  border: 1px solid lightgrey;
}

#flex {
display:flex;
}



/* body content containers*/

.inline-flex-container {
 display: inline-flex;
 flex-wrap: wrap;

}

.row-container {
  background-color: rgba(181, 181, 181, 0.546);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col-container {
  background-color: rgba(181, 181, 181, 0.546);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}



.justify-container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: rgba(181, 181, 181, 0.546);
  flex-wrap: wrap;
}


/* flex-directions */
#row {
flex-direction: row;
}

#row-reverse {
flex-direction: row-reverse;
}

#column {
flex-direction: column;
}

#column-reverse {
flex-direction: column-reverse;
}






/* justify-content */

#flex-start {
 justify-content: flex-start;
}

#flex-end {
justify-content: flex-end;
}

#center1 {
 justify-content: center;
}

#spacearound {
justify-content: space-around;
}

#spacebetween {
justify-content: space-between;
}






.align-container {
  height: 125px;
  background-color: rgba(181, 181, 181, 0.546);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left,
.center,
.right {
  min-height: 50px;
  width: 75px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  
}

#baseline .center {
  height: 75px;
  width: 75px;
  border: 5px solid turquoise;
}

#flexstart {
 align-items: flex-start;
}

#flexend {
 align-items: flex-end;
}

#center {
align-items: center;

}

#baseline {
 align-items: baseline;
}
